@import url(./reset.css);

#ce {
  position: relative;
  margin: 10px;
  width: 1200px;
  height: 700px;
  overflow: auto;
}

#ce input {
  position: absolute;
  z-index: 2;
  /* box-sizing: border-box; */
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
  padding: 0 300px 300px 0;
}

canvas#cell_bg {
  z-index: 0;
}

canvas#cell_grid {
  z-index: 1;
}